
@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@-webkit-keyframes GerakanKeKanan {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem); 
    }
    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeKanan {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem); 
    }
    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @-webkit-keyframes GerakanKeKiri {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem); 
    }
    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeKiri {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem); 
    }
    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @-webkit-keyframes GerakanKeAtas {
    0% {
      opacity: 0;
      -webkit-transform: translateY(3rem);
      transform: translateY(3rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeAtas {
    0% {
      opacity: 0;
      -webkit-transform: translateY(3rem);
      transform: translateY(3rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
/*body {
    font-family: "Myriad Pro" !important;
    src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot");
     src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot?#iefix") format("embedded-opentype"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff2") format("woff2"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.svg#Myriad Pro") format("svg"); 
    background: #e5f1d9;
}*/

/*@font-face {
  font-family: 'Capriola';
  src: url("//themes.googleusercontent.com/static/fonts/capriola/v1/pYZraWNYRjc_hHo5LnobfPesZW2xOQ-xsNqO47m55DA.ttf") format("truetype");
  background: #e5f1d9;
}

body {
    font-family: 'Capriola';
    src: url("//themes.googleusercontent.com/static/fonts/capriola/v1/pYZraWNYRjc_hHo5LnobfPesZW2xOQ-xsNqO47m55DA.ttf") format("truetype");
    background: #e5f1d9;
}*/

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url("../font/MPLUSRounded1c-ExtraBold.ttf") format("truetype");
  background: #e5f1d9;
}

body {
    font-family: 'M PLUS Rounded 1c';
    src: url("../font/MPLUSRounded1c-ExtraBold.ttf") format("truetype");
    background: #e5f1d9;
}

/* m-plus-rounded-1c-regular - latin */
/*@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/m-plus-rounded-1c-v10-latin-regular.eot');  
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'),
       url('../fonts/m-plus-rounded-1c-v10-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/m-plus-rounded-1c-v10-latin-regular.woff2') format('woff2'), 
       url('../fonts/m-plus-rounded-1c-v10-latin-regular.woff') format('woff'), 
       url('../fonts/m-plus-rounded-1c-v10-latin-regular.ttf') format('truetype'),
       url('../fonts/m-plus-rounded-1c-v10-latin-regular.svg#MPLUSRounded1c') format('svg'); 
}*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 0px;
    background-color: #ffffff !important;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.search_input_navbar {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: transparent !important;
    color: #fff !important;
    width: 100%;
    display: block;
    border: none;
    transition: .3s all; 
    border-bottom: 2px solid #fff;
}

.search_input_navbar:focus {
    background: transparent !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 2px solid #fff;
}

.search_input_navbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  text-align: center;
}

.search_input_navbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  text-align: center;
}

.search_input_navbar::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  text-align: center;
}

.search_botton_navbar {
  background-color: #4db849 !important;
  border: 2px solid #fff;
  color: #fff;
}

.search_botton_navbar:hover {
  background-color: #fff !important;
  border: 2px solid #fff;
  color: #4db849 !important;
}

.button-burger-menu {
  background-color: #4db849;
  color: #fff;
  border-color: #4db849;
}
  
.button-burger-menu:hover, .button-burger-menu:active, .button-burger-menu:focus {
  background-color: #fff;
  color: #4db849;
  border-color: #fff;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 190px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
    opacity: 0.8;
    color: #4db849 !important;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #4db849;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #4db849;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
  padding: 30px 0px 10px;
  background: #fff;
  color: #4db849;
  text-align: center !important;
}

#sidebar .sidebar-header p {
  color: #4db849 !important;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul.page-submenu li a {
  padding: 10px;
  font-size: 1.1em !important;
  display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #4db849;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    background: #4db849;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #c0ffb3;
    color: #28a745;
}

ul.user-auth {
    padding: 20px;
}

ul.user-auth a {
    text-align: center;
    font-size: 1.1em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

button.search-sidebar {
    background: #fff;
    color: #4db849;
    border: 2px solid #4db849;
}

button.search-sidebar:hover {
    background: #4db849;
    color: #fff;
}

.search_input_sidebar {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: transparent !important;
    color: #4db849 !important;
    width: 100%;
    display: block;
    border: none;
    transition: .3s all; 
    border-bottom: 2px solid #4db849;
}

.search_input_sidebar:focus {
    background: transparent !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 2px solid #4db849;
}

.search_input_sidebar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4db849;
    opacity: 1; /* Firefox */
}
  
.search_input_sidebar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4db849;
}
  
.search_input_sidebar::-ms-input-placeholder { /* Microsoft Edge */
    color: #4db849;
}

a.login {
  background: #fff !important;
  color: #4db849 !important;
  border: 2px solid #4db849 !important;
}

a.login:hover {
  background: #4db849 !important;
  color: #fff !important;
}

a.register {
  background: #fff !important;
  color: #4db849 !important;
  border: 2px solid #4db849 !important;
}

a.register:hover {
  background: #4db849 !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px 0 0 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}

#content .button_breadcrumb {
  -webkit-animation-name: GerakanKeKanan;
  animation-name: GerakanKeKanan;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  background-color: transparent !important;
}

#content .button_breadcrumb a:hover {
  color: #000;
}

#content .title-page {
    -webkit-animation-name: GerakanKeKanan;
    animation-name: GerakanKeKanan;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#content .section_content {
    -webkit-animation-name: GerakanKeAtas;
    animation-name: GerakanKeAtas;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#content .item_product:hover {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

#content .embed-responsive {
  height: 25vh !important;
}

#content .product-price {
  float: left;
}

#content .product-price-header {
  float: left;
  font-size: 15px;
  /*display: block;*/
  /*width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;*/
}

#content .button-plus-minus {
  float: right;
}

#content .button_plus, #content .button_minus {
  width: 25px; 
  height: 25px;
}

#content .button_plus:hover, #content .button_minus:hover {
    border: 1px solid #28a745 !important;
    background-color: #fff !important;
    color: #28a745 !important;
}

#content .button_plus:focus, #content .button_minus:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#content .button_add_to_cart {
    text-decoration: none;
    display: inline-block;
    transition: .2s all;
    position: relative;
    z-index: 0;
    border: none;
    background-color: #28a745 !important;
}

#content .button_add_to_cart:hover {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_add_to_cart:focus {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_add_to_cart:active {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  }
  
#content .button_add_to_cart::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s all;
    opacity: 1; 
    background-color: #28a745 !important;
}
  
#content .button_add_to_cart:hover::after {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; 
}

/* CONTACT */

#content .contact_card:hover {
    /*box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);*/
}

.contact_input {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: #e0e0d1 !important;
    color: #777;
    width: 100%;
    display: block;
    /*border: none;*/
    transition: .3s all; 
    /*border-bottom: 2px solid rgba(116, 116, 116, 0.507);*/
    text-align: center;
    padding: 20px 90px;
}

.contact_input:focus {
    background: #e0e0d1 !important;
    text-align: center;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    /*border-bottom: 2px solid rgb(0, 184, 40);*/
}

.contact_input:focus:invalid {
    /*border-bottom: 2px solid rgb(255, 174, 0); */
  }
  
  .contact_label {
    display: block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 100;
    opacity: 1;
    transition: .7s all; 
  }
  
  .contact_input:placeholder-shown + .contact_label {
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
    opacity: 0; 
    font-weight: bold;
  }


  #content .button_send {
    text-decoration: none;
    display: inline-block;
    transition: .2s all;
    position: relative;
    z-index: 0;
    border: none;
    background-color: #28a745 !important;
}

#content .button_send:hover {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_send:focus {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_send:active {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  }
  
#content .button_send::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s all;
    opacity: 1; 
    background-color: #4db849 !important;
}
  
#content .button_send:hover::after {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 0; 
}

/* DETAIL PAGE */

#content .button_back {
  -webkit-animation-name: GerakanKeKanan;
  animation-name: GerakanKeKanan;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#content .fa-arrow-left:hover {
  color: #28a745;
}

/* SHOPPING CART */

#content .cart_card:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.cart_input {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: transparent !important;
  color: #777;
  width: 100%;
  display: block;
  border: none;
  transition: .3s all; 
  border-bottom: 2px solid rgba(116, 116, 116, 0.507);
}

.cart_input:focus {
  background: transparent !important;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-bottom: 2px solid rgb(0, 184, 40);
}

.cart_input:focus:invalid {
  border-bottom: 2px solid rgb(255, 174, 0); 
}

.cart_label {
  display: block;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 100;
  opacity: 1;
  transition: .7s all; 
}

.cart_input:placeholder-shown + .cart_label {
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  opacity: 0; 
}


#content .button_order {
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #28a745 !important;
}

#content .button_order:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_order:hover::after {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0; 
}

/* MODAL PEMBAYARAN */

#content .button_pay {
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #28a745 !important;
}

#content .button_pay:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_pay:hover::after {
  -webkit-transform: scale(1.4, 1.7);
  transform: scale(1.4, 1.7);
  opacity: 0; 
}

.form__radio--group {
  width: 100%;
  display: inline-block; }
  

.form__radio--label {
  font-weight: 600;
  position: relative;
  padding-left: 30px;
  cursor: pointer; 
}

.form__radio--button {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border: 5px solid #55c57a;
  position: absolute;
  left: 0;
  border-radius: 100%; 
  margin: 20px 0;
}
  .form__radio--button::after {
    content: "";
    display: inline-block;
    width: 70%;
    height: 70%;
    background: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0;
    transition: .3s all; 
  }

.form__radio--input:checked + .form__radio--label .form__radio--button::after {
  opacity: 1; }


/* CARA BERBELANJA */

#content .button_see_product {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #4db849 !important;
}

#content .button_see_product:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_see_product:hover::after {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0; 
}

footer.footer {
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle !important;
  border-top: 2px solid #dfe7d9;
  display: block;
  background-color: #fff !important;
}

footer.footer p {
  color: #4db849 !important;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer.footer .cart .count-cart-one {
  position: absolute; 
  right: 10px;
  top: 2px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}

footer.footer .cart .count-cart-two {
  position: absolute; 
  right: 7px;
  top: 3px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}

footer.footer .cart .count-cart-three {
  position: absolute; 
  right: 10px;
  top: 5px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}

/* BUTTON */

#content .button_success_block {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #41B1CD !important;
  border-radius: 12px;
}

#content .button_success_block:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  border-radius: 12px;
}

#content .button_success_block:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  border-radius: 12px;
}

#content .button_success_block:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  border-radius: 12px;
}

#content .button_success_block::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #41B1CD !important;
  border-radius: 12px;
}

#content .button_success_block:hover::after {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0; 
  border-radius: 12px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

#bannerSlide .carousel-inner img {
  height: 80vh;
}

#content .button-pesan {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #4db849 !important;
  color: #fff !important;
}

#content .button-pesan:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #4db849 !important;
}

#content .button-pesan:hover::after {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0; 
}

#content .total-bottom-fixed {
  position: fixed; 
  bottom: 3rem; 
  left: 50%; 
  background: #28a745; 
  transform: translate(-50%, 0px); 
  z-index: 9999; 
  border-radius: 100px !important; 
  width: 80%;
}

#shoppingCart .img-product  {
  width: 50%;
} 

#shoppingCart .img-product  img {
  width: 60%;
} 